# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node / Next.js
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Docker / local
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


# DB
data/postgres

docker-compose.yml
frontend/dockerfile
frontend/package.json
